:root {
  /* Colors */
  --bg-color-dark: rgba(47, 49, 65, 0.9);
  --bg-color-bright: rgba(109, 105, 118, 0.9);
  --color-light: rgba(255, 255, 255, 0.9);
  --color-med: rgba(122, 122, 129, 0.9);
  --color-dark: rgba(14, 22, 32, 0.7);

  --heading-bb-light: 2px solid var(--bg-color-bright);
  --heading-bb-dark: 2px solid var(--bg-color-dark);

  /* Fonts */
  --bold-ss-ff: 'Raleway', sans-serif;
  --light-ss-ff: 'Source Sans 3', sans-serif;
  --letter-spacing: 0.2em;

  --blur: 20px;
}

body {
  font-family: var(--light-ss-ff);
  background-image: url('../assets/bg-img.jpg');
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-light);
}

h1, h2, h3 {
  font-family: var(--bold-ss-ff);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 75em;
}

a {
  color: var(--color-light);
  text-decoration: none;
}

.btn {
  border: none;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.7;
}

li {
  list-style-type: none;
}



/* Projects */

.projects {
  /* padding-top: 5rem; */
  /* padding-bottom: 7rem; */
  background-color: rgba(84, 99, 144, 0.9);
  background-color: var(--bg-color-dark);
}

.projects__title {
  border-bottom: var(--heading-bb-light);
}

.project__card {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: rgba(0, 0, 0, 0.4);
  /* backdrop-filter: blur(10px); */
  max-width: 20em;
  border-radius: 5px;

  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
}

.project__image-container {
  margin-bottom: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  aspect-ratio: 16 / 9;
  /* aspect-ratio: 3 / 2; */
  /* height: 100%; */
  overflow: hidden;
}

.project__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.project__info-container {
  /* margin-bottom: 2rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;
}

.project__text-container {
  margin-bottom: 3rem;
}

.project__text__title {
  padding-bottom: 0.5rem;
  border-bottom: var(--heading-bb-light);
}

.project__link__icon {
  text-decoration: none;
}

/* Contact */

.contact {
  /* padding-top: 5rem; */
  /* padding-bottom: 10rem; */
  z-index: -2;
}

.contact__image-text__container {
  margin-bottom: 4rem;
}

.contact__text__container {
  margin-bottom: 4rem;
}

.contact__title {
  border-bottom: var(--heading-bb-light);
}

.contact__image__container {
  max-width: 20em;
  margin: 0 auto;
}

.contact__image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.contact__social-link__container {
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  /* z-index: -10; */
}

.contact__social-icon {
  text-decoration: none;
}

.contact__social-link {
  /* text-decoration-style: dotted; */
  text-decoration: none;
}

.contact__form {
  /* max-width: 40rem; */

  display: flex;
  flex-direction: column;
}

.contact__form__label {
  margin-bottom: 0.3rem;
  font-family: var(--bold-ss-ff);
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
}

input {
  /* height: 2rem; */
  padding: 0.5rem 0.7rem;
}

input, textarea {
  margin-bottom: 1.5rem;
  color: white;
  border: none;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
}

.contact__form__btn {
  padding: 1rem;
  width: 20rem;

  font-family: var(--bold-ss-ff);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
}

/* Footer */
footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  /* background-color: rgba(4, 4, 60, 0.9); */
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  font-family: var(--bold-ss-ff);
  font-size: 0.8rem;
  font-weight: 200;
  /* text-transform: uppercase; */
  /* letter-spacing: var(--letter-spacing); */
}

.footer__container {
  text-align: center;
}

.footer__my-info {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer__my-info a {
  text-decoration: none;
}

.footer__link {
  /* font-family: var(--bold-ss-ff); */
  /* text-transform: uppercase; */
  /* text-decoration: none; */
}

.footer__attributions a {
  text-transform: uppercase;
  text-decoration-style: dotted;
}



@media (min-width: 60em) {



  /* Contact */
  .contact__image-text__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 3rem;
  }

  .contact__text__container {
    text-align: right;
  }

  .contact__form-links__container {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    justify-content: space-between;
    align-items: stretch;
  }

  .contact__form {
    /* flex-grow: 2; */
  }

  .contact__social-links {
    /* flex-grow: 1; */
  }


}

@media (min-width: 50em) {
  /* Projects */
  .project__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
  }
}
