:root {
  /* Colors */
  --bg-color-dark: rgba(47, 49, 65, 0.9);
  --bg-color-bright: rgba(109, 105, 118, 0.9);
  --color-light: rgba(255, 255, 255, 0.9);
  --color-med: rgba(122, 122, 129, 0.9);
  --color-dark: rgba(14, 22, 32, 0.7);

  --heading-bb-light: 2px solid var(--bg-color-bright);
  --heading-bb-dark: 2px solid var(--bg-color-dark);

  /* Fonts */
  --bold-ss-ff: 'Raleway', sans-serif;
  --light-ss-ff: 'Source Sans 3', sans-serif;
  --letter-spacing: 0.2em;

  --blur: 20px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--light-ss-ff);
  background-image: url('../assets/bg-img.jpg');
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-light);
}

h1, h2, h3 {
  font-family: var(--bold-ss-ff);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 75em;
}

a {
  color: var(--color-light);
  text-decoration: none;
}

a:focus {
  /* outline: 5px solid red; */
}

.btn {
  border: none;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.7;
}

li {
  list-style-type: none;
}


/* Projects */


/* Contact */


/* Footer */
footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  /* background-color: rgba(4, 4, 60, 0.9); */
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  font-family: var(--bold-ss-ff);
  font-size: 0.8rem;
  font-weight: 200;
  /* text-transform: uppercase; */
  /* letter-spacing: var(--letter-spacing); */
}

.footer__container {
  text-align: center;
}

.footer__my-info {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer__my-info a {
  text-decoration: none;
}

.footer__attributions a {
  text-transform: uppercase;
  text-decoration-style: dotted;
}

