---
import ImagePlusText from './ImagePlusText.astro';
const aboutMeText = [
  "Few can say they could view rocket launches from their own backyards, yet that’s what life was like growing up on Florida’s Space Coast. Working at Kennedy Space Center on the Space Shuttle program fueled my passion for technology, and contributing to human spaceflight will remain one of the highlights of my life. Seriously, what's more awesome than hurling astronauts into orbit, riding a massive plume of fire?", "While the retirement of the Shuttle program marked the end of an era, I embraced the opportunity to start fresh. Launching a new career in software engineering, my current focus is on developing web applications that are responsive, accessible, and engaging.", "When I'm not creating sweet web apps, I enjoy hiking and attending concerts. I also write music and play piano, performing only for my cats."
];


//Well, maybe not that fresh, but eventually I decided to build upon some basic HTML skills I had picked up during the Myspace days and l
const buttons = [
  {link: '#projects', page: 'Projects section', icon: 'chevron-right', title: 'Projects'},
  {link: '#contact', page: 'Contact section', icon: 'chevron-right', title: 'Contact'}
];
---

<section id="about" class="about section--positive-slope" >

  <div class="about__container container--grid">

    <ImagePlusText
      src="discovery"
      alt="Standing in front of Space Shuttle Discovery on the launch pad"
      title="About Me"
      text={aboutMeText}
      buttons={buttons}
    />

  </div>
</section>

<style>

  .about {
    background-color: hsl(var(--hue-primary), 12%, 40%);
    /* background-color: var(--color-medium-dark); */

    padding-top: 11rem;
    padding-bottom: 13rem;
  }

  .about__container {
    /* padding-block: 11rem; */
  }

</style>