---
import ImagePlusText from './ImagePlusText.astro';
const aboutMeText = [
  "Born and raised on Florida's Space Coast, I was encouraged to reach for the stars. Even though I had obtained a degree in Psychology, I found excitement while working at Kennedy Space Center and Department of Defense sites.", "As a native Floridian, I was considerably affected by the retirement of the Space Shuttle program several years ago. However, I went on to embrace employment opportunities elsewhere, ultimately deciding to launch a new career as a software engineer."
];

const buttons = [
  {link: '#projects', page: 'Projects section', icon: 'chevron-right', title: 'Projects'},
  {link: '#contact', page: 'Contact section', icon: 'chevron-right', title: 'Contact'}
];
---

<section id="about" class="about" >

  <div class="about__container container">

    <ImagePlusText
      src="discovery"
      alt="Standing in front of Space Shuttle Discovery on the launch pad"
      title="About Me"
      text={aboutMeText}
      buttons={buttons}
    />

  </div>
</section>

<style>

  .about {
    background-color: hsl(var(--hue-primary), 12%, 40%);
  }

  @media (min-width: 55em) {
    .about {
      background-color: hsla(var(--hue-primary), 12%, 40%, 0.9);
    }
  }

</style>