---
---

<section id="contact" >
  <h2>Get in Touch</h2>
  <p>Need a developer with a proven track record of creating and implementing successful full-stack web applications? Great news! I am looking to bring my skills to a company with a more extensive reach.</p>
  <p>Please feel free to contact me directly at april.copley@protonmail.com or submit the form below.</p>

  <form action="">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="message">Message</label>
    <textarea name="message" id="message" cols="30" rows="10"></textarea>
    <button>Send Message</button>
  </form>
</section>

<style>
  section {
    height: 500px;
    background-image: url('../assets/bg-img.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
</style>