---
import socialInfo from '../scripts/socialInfo.js';
import SocialLink from './SocialLink.astro';
import ImagePlusText from './ImagePlusText.astro';
import FormInput from './FormInput.astro';

const inputFields = [
  {type: 'text', name: 'name', placeholder: 'Ada Lovelace', maxlength: 99},
  {type: 'email', name: 'email', placeholder: 'adalovelace@gmail.com', maxlength: 99},
  {type: 'textarea', name: 'message', placeholder: 'Please enter your message here...', maxlength: 999, cols: 30, rows: 12}
];

const contactText = [
  "Though my roots are planted in the wetlands of Florida, my ambition reaches for the stars. I'm ready to bring my skills to an enthusiastic team of developers, committed and eager to discover solutions together. I'm also passionate about funding my concert addiction, but I'm probably not supposed to say that part out loud.",
  "Please feel free to contact me directly by submitting the form below. Stay current on my latest adventures by following me on the socials."
];
---

<section class="contact section--bg-image section--positive-slope section--bottom-slope">
  <div id="contact" class="contact__container container--grid">
    <ImagePlusText
      src="headshot"
      alt="Me"
      title="Get in Touch"
      text={contactText}
    />
    </div>

    <div class="formcontact__wrapper container">
      <div class="form__wrapper">
        <h3 class="form__title">Contact</h3>
        <form name="contact" class="form" method="POST" data-netlify="true">

          {inputFields.map(field => <FormInput {...field} />)}

          <button 
            type="submit" 
            class="form__btn btn clickable"
          >
            Send Message
          </button>

        </form>
      </div>

      <div class="social-cards__wrapper">
        <h3 class="social-cards__title">Connect</h3>
        <ul class="social-cards__container" >
          {socialInfo.map(si => (
            <SocialLink
              platform={si.platform}
              url={si.url}
              handle={si.handle}
              className="social-link--card"
            />
          ))}
        </ul>
      </div>
    </div>
  </div>
</section>


<style>
  .formcontact__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));

    row-gap: 10rem;
    row-gap: clamp(2rem, 2rem + 1vw, 10rem);
    column-gap: clamp(1rem, 6.914vw + -0.21rem, 8rem);
    margin-top: 4rem;
    padding-bottom: 4rem;
  }

  .contact__container {
    padding-top: 28rem;
    padding-bottom: 3rem;
    padding-bottom: clamp(2rem, 2rem + 1vw, 4rem);
  }

  .form__wrapper,
  .social-cards__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  .form,
  .social-cards__container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    row-gap: 3rem;
  }

  .form__title,
  .social-cards__title {
    padding-bottom: 0.75rem;
    margin-bottom: 4rem;
    border-bottom: var(--border-thin);
  }

  .form__btn {
    background-color: var(--color-lightest);
    color: var(--color-darkest);
    border-radius: 5px;
    padding: 1.5rem;
    width: 100%;

    font-size: var(--font-size-600);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-wide);
  }

</style>
