---
import socialInfo from '../scripts/socialInfo.js';
import SocialLink from './SocialLink.astro';
import ImagePlusText from './ImagePlusText.astro';
import FormInput from './FormInput.astro';

const inputFields = [
  {type: 'text', name: 'name', placeholder: 'Ada Lovelace', maxlength: 99},
  {type: 'text', name: 'email', placeholder: 'adalovelace@gmail.com', maxlength: 99},
  {type: 'textarea', name: 'message', placeholder: 'Please enter your message here...', maxlength: 999, cols: 30, rows: 12}
];

const contactText = [
  "Need a developer with a proven track record of creating and implementing successful full-stack web applications? Great news! I am looking to bring my skills to a company with a more extensive reach.",
  "Please feel free to contact me directly at april.copley@protonmail.com or submit the form below."
];
---

<section class="contact section--bg-image section--positive-slope section--bottom-slope">
  <div id="contact" class="contact__container container--grid">
    <ImagePlusText
      src="headshot"
      alt="Me"
      title="Get in Touch"
      text={contactText}
    />


    <div class="form__wrapper">
      <h3 class="form__title">Contact</h3>
      <form class="form" action="">

        {inputFields.map(field => <FormInput {...field} />)}

        <button 
          type="submit" 
          class="form__btn btn clickable"
        >
          Send Message
        </button>

      </form>
    </div>

    <div class="social-cards__wrapper">
      <h3 class="social-cards__title">Connect</h3>
      <ul class="social-cards__container" >
        {socialInfo.map(si => (
          <SocialLink
            platform={si.platform}
            url={si.url}
            handle={si.handle}
            className="social-link--card"
          />
        ))}
      </ul>
    </div>
  </div>
</section>


<style>

  .contact__container {
    padding-top: 28rem;
    padding-bottom: 10rem;
  }

  .social-cards__wrapper {
    margin-top: 4rem;
  }

  .form__wrapper {
    margin-top: 4rem;
    width: 100%;
  }

  form,
  .social-cards__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
  }

  .form__title,
  .social-cards__title {
    padding-bottom: 0.75rem;
    margin-bottom: 5rem;
    border-bottom: var(--border-thin);
  }

  .form__btn {
    /* margin-top: 5rem; */
    background-color: var(--color-lightest);
    border-radius: 5px;
    padding: 1.5rem;
    width: 100%;

    /* font-family: var(--bold-ss-ff); */
    font-size: var(--font-size-600);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-wide);
  }

</style>
