---
import socialInfo from '../scripts/socialInfo';
import SocialLink from './SocialLink.astro';
import getDateRange from '../scripts/getDateRange';

const dates = getDateRange(2022);
---

<footer>
  <div class="footer__container">

    <div class="footer__info-wrapper">
      <p class="footer__copy-info">
        &copy; {dates}
        <a 
          href="#home"
          class="footer__link clickable"
        >
          April Copley
        </a>
      </p>

      <ul class="footer__social-links">
        {socialInfo.map(si => (
          <SocialLink 
            className="footer__social-link" 
            platform={si.platform.toLowerCase()} 
            url={si.url} 
          />
        ))}
      </ul>

    </div>

    <div class="footer__attributions-wrapper">
      <p class="footer__attribution">
        Space photo: 
        <a 
          href="https://www.pexels.com/@philippedonn/"
          target='_blank' 
          rel='noopener noreferrer'
          class="footer__link clickable"
        >
          Philippe Donn
        </a>
      </p>
    </div>

  </div>
</footer>

<style>
  footer {
    padding-block: 1.6rem;
    background-color: var(--color-darkest);
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--font-weight-thin);
    letter-spacing: var(--letter-spacing-medium);
  }

  footer p {
    font-size: var(--font-size-200);
    margin: 0;
  }

  .footer__info-wrapper {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
  }

  .footer__link {
    display: inline-block;
    line-height: normal;
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-narrow);
    border-bottom: 2px dotted var(--color-text-decoration);
  }

  .footer__link:hover {
    -webkit-transform: scale(var(--transform-scale));
    -moz-transform: scale(var(--transform-scale));
    -ms-transform: scale(var(--transform-scale));
    transform: scale(var(--transform-scale));
  }

  .footer__social-links {
    display: flex;
    gap: 0.7rem;
  }

  @media (min-width: 880px) {
    footer {
      background-color: hsla(var(--color-darkest), var(--opacity-low));
      -webkit-backdrop-filter: blur(var(--blur-high));
      backdrop-filter: blur(var(--blur-high));
    }
  }
</style>
