---
import socialInfo from '../scripts/socialInfo';
import SocialLink from './SocialLink.astro';
const dateRange = '2022–2024';
---

<footer>
  <div class="footer__container">

    <div class="footer__info-wrapper">
      <p class="footer__copy-info">
        &copy; {dateRange}
        <a 
          href="#home"
          class="footer__link clickable"
        >
          April Copley
        </a>
      </p>

      <ul class="footer__social-links">
        {socialInfo.map(si => (
          <SocialLink 
            className="footer__social-link" 
            platform={si.platform.toLowerCase()} 
            url={si.url} 
          />
        ))}
      </ul>

    </div>

    <div class="footer__attributions-wrapper">
      <p class="footer__attributions">
        Design inspired by: 
        <a 
          href="https://html5up.net/solid-state"
          target='_blank' 
          rel='noopener noreferrer'
          class="footer__link clickable"
        >
          HTML5Up
        </a>
      
        <span class="vertical-divider"> | </span>

        Space photo: 
        <a 
          href="https://www.pexels.com/@philippedonn/"
          target='_blank' 
          rel='noopener noreferrer'
          class="footer__link clickable"
        >
          Philippe Donn
        </a>
      </p>
    </div>

  </div>
</footer>

<style>
  footer {
    padding-block: 1.6rem;
    /* background-color: rgba(5, 1, 13, 0.835); */
    /* background-color: var(--color-secondary-dark); */
    background-color: 
      hsla(
        var(--hue-primary), 
        100%, 
        var(--lightness-dark), 
        1
      );
    /* /* -webkit-backdrop-filter: blur(20px); */
    /* backdrop-filter: blur(20px); */
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--font-weight-thin);
    letter-spacing: var(--letter-spacing-medium);
  }

  footer p {
    font-size: var(--font-size-200);
    margin: 0;
  }

  .footer__info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
  }

  .footer__link {
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-narrow);
  }

  .footer__social-links {
    display: flex;
    gap: 0.7rem;
  }

  .vertical-divider {
    margin-inline: 1rem;
  }

  @media (min-width: 880px) {
    footer {
      background-color: 
        hsla(
          var(--hue-primary), 
          100%, 
          var(--lightness-dark), 
          var(--opacity-low)
        );

      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
    }
  }
</style>
