---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---

<header>
  <h1 class="header__title">April Copley</h1>
  <nav class="header__nav">
    <Hamburger />
    <Navigation />
  </nav>
</header>

<style>
  header {
    background-color: rgb(12, 12, 88);
  }
</style>
