---
import { Icon } from 'astro-icon/components';
import LinkButton from './LinkButton.astro';
---
<section id="hero" class="hero section--bg-image">
  <div class="hero__container container">

    <p class="hero__greeting hero--animation">Hello, World</p>

    <h1 
      class="hero__title hero--animation"
    >
      I'm <strong>April</strong>, and I'm a full-stack <em>software engineer</em>
    </h1>

    <div class="hero__page-links hero--animation">

      <LinkButton
        link="#about"
        page="About Me section"
        icon="chevron-right"
        title="About"
      />

      <LinkButton
        link="#projects"
        page="Projects section"
        icon="chevron-right"
        title="Projects"
      />

      <LinkButton
        link="#contact"
        page="Contact section"
        icon="chevron-right"
        title="Contact"
      />

    </div>

  </div>
</section>

<script>
  // Create sliding effect for hero elements
  document.addEventListener('DOMContentLoaded', () => {
    const hero = document.querySelectorAll('.hero--animation');
    hero.forEach(el => el.classList.add('hero--loaded'));
  });
</script>

<style>
  .hero {
    padding-top: 12rem;
    padding-bottom: 22rem;
  }

  .hero__greeting {
    padding-bottom: 0.5rem;
    font-size: var(--font-size-900);
    line-height: 1.2;
    border-bottom: var(--border-chonk);
    font-family: var(--font-stack-heading);
    font-weight: var(--font-weight-semi-bold);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-wide);
    letter-spacing: 0.2em;
    transform: translateX(-100%);
  }

  .hero__title {
    font-size: var(--font-size-700);
    font-weight: var(--font-weight-light);
    line-height: 1.4;
    transform: translateX(100%);
  }

  .hero__title strong {
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-medium);
  }

  .hero__title em {
    font-style: normal;
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-medium);
  }

  .hero__page-links {
    margin-top: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    transform: translateY(100%);
  }

  .hero--animation {
    transition: transform 1s ease-in-out;
  }

  .hero--loaded {
    transform: translate(0);
  }

  @media (min-width: 50em) {
    .hero__logo-container {
      margin: 0;
    }

    .hero__page-links {
      flex-direction: row;
    }
  }
</style>