---
import { Icon } from 'astro-icon/components';
---
<section id="hero" class="hero">
  <div class="hero__container container">
    <div class="hero__logo__container">
      <Icon name="rocket" class="hero__logo" />
    </div>
    <p class="hero__greeting">Hello, World</p>
    <h1 class="hero__title">I'm <strong>April</strong>, a full-stack <em>software engineer</em></h1>
  </div>
</section>

