---
import { Icon } from 'astro-icon/components';
const { link, page, icon = null, title, isExternal = false, className='' } = Astro.props;

const newWindow = {
  ...(isExternal && {
    target: '_blank', 
    rel: 'noopener noreferrer',
    class: '--card'
  })
};
---

<a 
  href={link}
  aria-label={`Navigate to ${page}`}
  class={`${className && 'link__wrapper--' + className} link__wrapper${isExternal ? newWindow.class : ''} ${className === 'image__link' ? '' : 'clickable'}`}
  {...newWindow}
>
  {icon && <Icon
    name={icon} 
    aria-hidden="true"
    class={`${className && 'link__icon--' + className} link__icon${isExternal ? newWindow.class : ''}`}
  />}
  <span class={`${className && 'link__title--' + className} link__title${isExternal ? newWindow.class : ''}`}>{title}</span>
</a>

<style>

  .link__wrapper,
  .link__wrapper--card {
    border: var(--border-thin);
    border-radius: var(--border-radius-soft);
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    background-color: var(--color-frost);
    -webkit-backdrop-filter: blur(var(--blur-low));
    backdrop-filter: blur(var(--blur-low));
  }

  .link__wrapper--underline {
    display: inline;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .link__icon {
    font-size: 1.25rem;
    font-size: var(--font-size-400);
  }

  .link__icon--card {
    font-size: var(--font-size-300);
  }

  .link__title,
  .link__title--card {
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-medium);
  }

  .link__title {
    font-size: var(--font-size-400);
  }

  .link__title--card {
    font-size: var(--font-size-300);
  }

  .link__title--underline {
    display: inline-block;
    line-height: normal;
    text-transform: none;
    letter-spacing: normal;
    font-weight: var(--font-weight-normal);
    border-bottom: 2px dotted var(--color-text-decoration);
  }

  .link__title--underline:hover {
    transform: scale(var(--transform-scale));
  }

  .link__wrapper--image__link {
    border: none;
    border-radius: 
      var(--border-radius-sharp)
      var(--border-radius-sharp)
      none;
    position: absolute;
    inset: 0;

    gap: 1rem;

    background-color: hsla(var(--hue-primary), 100%, var(--lightness-dark), var(--opacity-medium));
    -webkit-backdrop-filter: blur(var(--blur-high));
    backdrop-filter: blur(var(--blur-high));
    opacity: 0;
    transition: all 200ms ease-in-out;
  }

  .link__wrapper--image__link:hover {
    opacity: 1;
  }

  .link__icon--image__link,
  .link__title--image__link {
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-semi-bold);
    letter-spacing: var(--letter-spacing-wide);
  }

  @media (min-width: 50em) {
    .link__wrapper {
      width: 14rem;
    }
  }
</style>