---
import { Icon } from 'astro-icon/components';
const { link, page, icon, title, isExternal = false } = Astro.props;

const newWindow = {
  ...(isExternal && {
    target: '_blank', 
    rel: 'noopener noreferrer' 
  })
};
---

<a 
  href={link}
  aria-label={`Navigate to ${page}`}
  class="link__wrapper clickable"
  {...newWindow}
>
  <Icon
    name={icon} 
    aria-hidden="true"
    class="link__icon"
  />
  <span class="link__title">{title}</span>
</a>

<style>

  .link__wrapper {
    /* border: 1.5px solid var(--color-medium); */
    border: var(--border-thin);
    border-radius: 15px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    max-width: fit-content;
    /* background-color: var(--color-dark); */
    backdrop-filter: var(--blur);
  }

  .link__icon {
    font-size: 1.25rem;
  }

  .link__title {
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-medium);
  }
</style>