---
const { item } = Astro.props;
---

<li class="menu__list-item">
  <a 
    href={`#${item}`}
    class="menu__list-link clickable"
  >
    {item}
  </a>
</li>

<style>
  /* Create separators between menu items */
  .menu__list-item + li {
    border-top: 2px solid var(--color-medium);
  }

  .menu__list-link {
    display: inline-block;
    padding: 2rem;
  }

  /* Media Queries */ 
  @media (min-width: 60em) {

    .menu__list-link {
      padding: 0;
    }

    /* Remove separators from menu */
    .menu__list-item + li {
      /* Keeps from displaying on dark mode (???) */
      border-top: 0 solid transparent;
    }
  }
  
</style>