---
---

<div class="header__nav__links">
  <a class="header__nav__link clickable" href="/">Home</a>
  <a class="header__nav__link clickable" href="#about">About</a>
  <a class="header__nav__link clickable" href="#projects">Projects</a>
  <a class="header__nav__link clickable" href="#contact">Contact</a>
</div>

