---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import dcImage from '../assets/digital-canvas.png';
import hhcImage from '../assets/happy-hour-cocktails.png';
import codImage from '../assets/cats-on-demand.png';

import Project from './Project.astro';
import projects from '../scripts/projects.js';

const images = [
  dcImage,
  hhcImage,
  codImage
];
---

<section id="projects" class="projects" >
  <div class="projects__container container">
    <h2>Projects</h2>
    <p>The universe knows no limits, and neither should your imagination. From vanilla JavaScript to APIs, creativity and possibilities are boundless.</p>
    <div class="project__container">
      {projects.map((project, i) => (
        <div class="project__card">
          <Image src={images[i]} alt={project.name} />
          <Project
            name={project.name}
            description={project.description}
          />
          <button>
            <Icon name="chevron-right" />
          </button>
          <span>View Code</span>
        </div>
      ))}
    </div>
  </div>
</section>

<style>
  img {
    width: 200px;
    height: auto;
  }
</style>