---
import { Icon } from 'astro-icon/components';
const { platform, url, className } = Astro.props;
---

<a 
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class=`${className} clickable`
>
  <Icon name={platform} />
</a>
