---
import { Icon } from 'astro-icon/components';
const { platform, url } = Astro.props;
---

<a 
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="footer__link clickable"
>
  <Icon name={platform} />
</a>

<style>
  a {
    text-decoration: none;
  }
</style>