---
import HeadingPlusText from './HeadingPlusText.astro';
import { Icon } from 'astro-icon/components';
const { platform, url, handle, className } = Astro.props;
---

<li class=`${className} clickable` >
  <a
    href={url}
    target="_blank"
    rel="noopener noreferrer"
  >
    <Icon class="social-link__icon" name={platform.toLowerCase()} />

    {handle && (
      <HeadingPlusText
        headingLevel="h4"
        title={platform}
        text={[handle]}
      />
    )}
  </a>
</li>

<style>
  .footer__social-link {
    font-size: var(--font-size-300);
  }

  .social-link--card:focus {
    outline: 21px solid red;
  }

  .social-link--card {
    margin-top: 3rem;
    /* padding: 0.7rem 1.2rem; */
    border: 2px solid var(--color-med);
    border: var(--border-thin);
    background-color: var(--color-frost);
    -webkit-backdrop-filter: blur(var(--blur));
    backdrop-filter: blur(var(--blur));
    border-radius: 5px;
  }

  .social-link--card a {
    padding: 0.7rem 1.7rem 0.7rem 1.5rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    column-gap: 2rem;
  }

  .social-link--card .social-link__icon {
    font-size: 2rem;
    grid-row: 1 / 3;
  }

  .social-link__icon {
    /* I don't know why I have to do this to get rid of padding-bottom in the footer links, but nothing else worked */
    display: flex;
  }

  .social-link__platform {
    border: 1px dotted rgb(193, 11, 42);
    /* font-size: 1rem; */
    font-weight: 600;
    text-transform: uppercase;
    /* letter-spacing: var(--letter-spacing-wide); */
  }

</style>
